@import "./src/app/components/shared/scss/variables";
.side-bar-node-wrapper {
  width:100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.side-bar-node-wrapper img {
  width: $sidebar-icon-width;
  height: $sidebar-icon-height;
}
