$sidebar-width: 5%;
$header-width: 95%;

/* Images / Icons Size */
$sidebar-icon-width: 30px;
$sidebar-icon-height: 30px;

/* Site Colors */

/* Screen Sizes */

/*
 Desktop
1920x1080
1366x768
1440x900
1536x864
1024x768
*/

/*
Mobile

 */
