@import 'components/shared/scss/variables';
.app-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  overflow-y: scroll;
}
.main-section-wrapper {
  flex-basis: $header-width;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.side-menu-wrapper {
  flex-basis: $sidebar-width;
  height: 100%;
}

.header-wrapper {
  width: 100%;
  height: 10%;
}
.center-section-wrapper {
  width: 100%;
  height: 90%;
}
